<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<br />
<ul class="list-group text-center">
  <li class="list-group-item">
    <a routerLink="/lab1/harmonic">Lab 1</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/lab2/harmonic">Lab 2</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/lab3/harmonic">Lab 3</a>
  </li>
  <li class="list-group-item">
    <a routerLink="/lab4/harmonic">Lab 4</a>
  </li>
</ul>
<br />
<router-outlet></router-outlet>
